.comm-button{
    background-color: '#F1EFEF';
    border-radius: '12px';
    border: 'none';
    width: '70px';
    height: '35px';
    margin-left: '300px';
    margin-top: '15px';
    margin-bottom: '10px';

}