.link {
    color: black;
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x:hidden; 
    overflow-y:auto;
    
}

.group_chats{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x:hidden; 
    overflow-y:auto;
    height: 210px;
    bottom: 30px;
}

.scrollabale_msg{
    height: 50%;
    bottom: 30px;
}

.fixed_input{
    bottom: 0px;
    margin-top: 20px;
    position:fixed;
    width: 64%;   
}

div.scroll {
    /*margin:4px, 4px;
    padding:4px;*/
    /*background-color: #008000;*/
    /*width: 500px;*/
    /* height: 480px; */
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.member-status-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.member-status {
    margin-bottom: 0;
    position: relative;
}
.sidebar-online-status {
    color: green;
}
.sidebar-offline-status {
    color: red;
}
.sidebar-offline-status,
.sidebar-online-status {
    font-size: 11px;
    position:relative;
    z-index: 99;
    bottom: 6px;
    left: -2px;
    
}

